.ademwerk-container{

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    }
    
    div:nth-child(1) {
        position: relative;
        width: 100%;

        img {
            object-fit: cover;
            width: 100%;
            height: 36.25vw;
            border-radius: 0;
        }

        div {
            position: absolute;
            bottom: 5px;
            left: 0;
            width: 100%;
            margin: 0;

            background: rgba(255, 255, 255, 0.1);
            // background: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.0));
            // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(5px);

            display: flex;
            justify-content: center;

            h1 {
                font-size: var(--fontsize-h1-desktop);
                color: #fff;
                padding: 1rem;
                font-family: 'Annie Use Your Telescope', cursive;
            }
        }
    }

    div:nth-child(2), div:nth-child(4) {
        margin: 5% 10%;
        display: grid;
        gap: 2rem;
        

        div {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            p {
                padding-bottom: 5%;
                font-family: 'Montserrat', sans-serif;
                font-size: var(--fontsize-h2-desktop);
                color: #000;
            }
            
            p:last-child {
                padding-bottom: 0;
            }
        }
    }

    div:nth-child(3) {
        padding: 5% 10%;
        background: var(--teallight);
        position: relative;

        p {
            padding-bottom: 5%;
            font-family: 'Montserrat', sans-serif;
            font-size: var(--fontsize-h2-desktop);
            color: #fff;
            text-shadow: 1px 1px 2px var(--teallight);
        }

        div {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: 0;
            height: 100%;
            ul {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
                li {
                    list-style: inside;
                    font-family: 'Montserrat', sans-serif;
                    font-size: var(--fontsize-h2-desktop);
                    color: #fff;
            
                }
    
                li:last-child {
                    padding-bottom: 0;
                }
            }

            img  {
                width: 100%;
            }
        }

    }


    div:nth-child(4) {
            
        p {
            padding-bottom: 5%;
            font-family: 'Montserrat', sans-serif;
            font-size: var(--fontsize-h2-desktop);
            color: #000;
        }

        div {
            margin: 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: 0;
            height: 100%;
            
            div {
                display: flex;

                button {
                    border: 2px solid var(--tealdark);
                    background: none;
                    width: 100%;
                    padding: .5rem;
                    font-size: var(--fontsize-button-desktop);
                    border-radius: 18px;
                    color: var(--tealdark);
                    transition: .5s ease;
        
                    &:hover {
                        color: #fff;
                        background: var(--tealdark);
                    }
                }
            }
        }

        p:last-child {
            padding-bottom: 0;
        }

    }

    div:nth-child(5) {
        padding: 0% 10% 5% 10%;
    }


}

.coaching-container, .honden-container {
    div {
        p:last-child {
            padding-bottom: 0;
        }
    }
}