.contact-container {
    font-family: 'Inter', sans-serif;
    font-size: var(--fontsize-h2-desktop);
    .contact-header {
        margin-top: 1%;
        background: var(--secondary);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 3vw;
            font-family: 'Varela Round', sans-serif;
            text-align: center;
        }

        p {
            padding-top: 1%;
        }

    }
}

.contact-container2 {
    margin-top: 1%;
    background: var(--primary-accent);
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;

    .contact-sorten {

        

        .contact-phone {

            padding-top: 5%;
            h2 {
                font-size: var(--fontsize-h2-desktop);
            }

            p {
                padding-top: 1%;
            }

            div {
                padding-top: 1%;
                display: flex;
                align-items: center;
                font-weight: bold;
                gap: 4px;
                white-space: nowrap;

                p {
                    padding: 0;
                }

                svg {
                    height: 32px;

                    &:nth-child(2) {
                        fill: #25D366;
                    }
                }
            }

            p {
                padding-top: 1%;
                
                &:last-child {
                    font-weight: bold;
                }
            }
        }

        .contact-email {
            padding-top: 5%;
            h2 {
                font-size: var(--fontsize-h2-desktop);
            }

            p {
                padding-top: 1%;
            }

            div {
                padding-top: 1%;
                display: flex;
                align-items: center;
                font-weight: bold;
                gap: 4px;
                white-space: nowrap;

                a {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    padding: 0;
                    text-decoration: none;
                    color: #000;
                }

                svg {
                    height: 32px;
                }
            }

        }

        .contact-maps {
            padding-top: 5%;
            width: 100%;
            height: 100%;
            position: static;
            

            .maps-container {
                width: 100%;
                height: 100%;
                top: 0;
            }
        }

    }

    .contact-form {
        padding: 5% 10%;
        // background: green;
        position: relative;
        .thanks {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;

            p {
                display: flex;
                justify-content: center;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            
            label {
                font-size: var(--fontsize-h2-desktop);
                padding-top: 1%;

                &:first-child {
                    padding-top: 0;
                }
            }

            input[type=text], input[type=email] {
                background: #baa1ca1f;
                color: #000;
                border: solid 2px;
                border-color: var(--btncolor);
                border-radius: 8px;
                font-size: var(--fontsize-h2-desktop);
                padding: .5rem;
            }

            textarea {
                background: #baa1ca1f;
                color: #000;
                border: solid 2px;
                border-color: var(--btncolor);
                border-radius: 8px;
                font-size: var(--fontsize-h2-desktop);
                padding: .5rem;
                height: 200px;
                margin-bottom: 2%;
            }

            input[type=submit] {
                font-size: var(--fontsize-button-desktop);
            }
        }
        
    }
}

.fade-out {
    opacity: 0 !important;
    transition: .2s Ease !important;
}

.fade-in {
    opacity: 1 !important;
    transition: .2s Ease !important;
    z-index: 2 !important;
}

.popup-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1%;
    .popup {
        color: red;
        position: fixed;
        font-family: "Inter", sans-serif;
        animation: glideIn 0.5s Ease;
        position: absolute;
        top: 0;
        font-size: var(--fontsize-h2-desktop);

    }
    
}

.form-disable {
    pointer-events: none;
}

@keyframes glideIn {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @media (max-width: 1000px) {
    .contact-container {
        .contact-header {
            h1 {
                // font-size: 20px;
                text-align: center;
            }
        }
    }
  }

  @media (max-width: 800px) {
    .contact-container2 {
        grid-template-columns: 1fr;
        gap: 1rem;
        
        .contact-form {
            padding-top: 0;
        }
    }
    .contact-container {
        .contact-header {
            h1 {
                padding: 2% 0;
                text-align: center;
                font-size: 4vw;
            }
        }

    }
  }

  @media (max-width: 500px) {
    .contact-container {
        .contact-header {
            h1 {
                padding: 2% 0;
                text-align: center;
                font-size: 4vw;
            }
        }

    }
  }
