.footer-container {
    padding: 1% 10%;
    margin-top: 1%;
    background: var(--primary);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    // align-items: center;
    text-align: center;
    text-transform: uppercase;

    div {
        font-family: 'Inter', sans-serif;
        p {
            font-size: var(--fontsize-button-desktop);
            color: #000;
        }

        div {
            display: flex;
            flex-direction: column;

            a {
                font-size: var(--fontsize-h3-desktop);
                text-decoration: none;
                color: #fff;
            }
        }
    }
}

@media (max-width: 650px) {
    .footer-container {
        padding: 5% 10%;
        grid-template-columns: 1fr;
        div {
            padding-bottom: 2%
        }
    }
}