//global styling

//!Margin

.m5-10 {
    margin: 5% 10%;
}

.p5-10 {
    padding: 5% 10%;
}

//! Button

.button {
    border: 2px solid var(--btncolor);
    background: none;
    width: 100%;
    padding: .5rem;
    font-size: var(--fontsize-button-desktop);
    border-radius: 18px;
    color: var(--btncolor);
    transition: .5s ease;

    &:hover {
        color: #fff;
        background: var(--btncolor);
    }
}

/* CSS */

.button-nav {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--btncolor);
    border: 1px solid #baa1ca;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    outline: none;
    outline: 0;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    padding: 10px 25px;
    text-decoration: none;
    font-size: var(--fontsize-button-desktop);
    font-family: 'Inter', sans-serif;

  &:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
  }
}

@media (max-width: 500px) {
  .button-nav {
    a {
        padding: 5px 15px;
    }
  }

}

//! Fonts

.font-varela {
    font-family: 'Varela Round', sans-serif;
}

.font-inter {
    font-family: 'Inter', sans-serif;
}

.page-banner {
    position: relative;
    width: 100%;

    img {
        object-fit: cover;
        width: 100%;
        height: 36.25vw;
        border-radius: 0;
        box-shadow: none;
    }

    div {
        position: absolute;
        bottom: 5px;
        left: 0;
        width: 100%;
        margin: 0;
        text-align: center;

        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(5px);

        display: flex;
        justify-content: center;

        h1 {
            font-size: 2.5vw;
            color: #fff;
            padding: 1rem;
            font-family: 'Varela Round', sans-serif;
        }
    }
}

//certificaten
.certificaten-logos {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    // padding-top: 5%;
    img {
        width: 90px;
        background: transparent;
        box-shadow: none;
    }
}