.homepage-container {
    overflow: hidden;

    .homepage-banner {
        width: 100vw;
        position: relative;
        img {
            object-fit: cover;
            width: 100%;
        }

        div {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            margin: 0 10%;
            z-index: 20;
            width: 40%;

            font-family: 'Annie Use Your Telescope', cursive;
            font-size: 2vw;

            h1 {
                color: #fff;
                text-shadow: 1px 1px 2px #707070;
            }
        }
    }

    .homepage-text {
        margin: 10% 10%;

        p {
            padding-bottom: 5%;
            font-family: 'Montserrat', sans-serif;
            font-size: var(--fontsize-h2-desktop);
            // color: var(--tealdark);
            color: #000;
            // text-shadow: 1px 1px 2px var(--teallight);
        }

        p:nth-child(2) {
            padding-bottom: 0;
        }
    }

    .homepage-text2 {
        background: var(--teallight);
        width: 100%;
        

        div {
            margin: 0 10%;
            display: flex;
            
            img {
                width: 30%;
                object-fit: cover;
            }

            div {
                display: flex;
                flex-direction: column;
                font-family: 'Montserrat', sans-serif;
                justify-content: space-evenly;

                p:nth-child(1) {
                    color: #fff;
                    font-size: var(--fontsize-h2-desktop)
                }

                p:nth-child(2) {
                    color: #fff;
                    font-size: var(--fontsize-h2-desktop)
                }

                button {
                    font-size: var(--fontsize-button-desktop);
                    background: var(--sand);
                    color: #fff;
                    border: 2px solid var(--sand);
                    padding: .5rem 2rem;
                    border-radius: 12px;
                    transition: .3s ease;
                    font-family: 'Montserrat', sans-serif;
                    width: 100%;
    
                    &:hover {
                        background: var(--sand-highlight);
                        border: 2px solid var(--sand-highlight);
                        color: #fff;
                    }

                }
            }
        }
    }

    .homepage-boxes {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        margin: 10% 10%;
        gap: 2rem;
    }
}