.adembox-container, .coachingbox-container, .hondenbox-container, .kennisbox-container {
    position: relative;
    display: flex;
    flex-direction: column;

    transition: top .5s ease;
    top: 0;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    font-family: 'Inter';

    border-radius: 18px;
    overflow: hidden;

    text-decoration: none;

    // color: var(--primary);
    color:  #000;
    background: #fff;

    &:hover {
        top: -10px;
    }

    img {
        height: 100%;
        object-fit: cover;
    }

    div {
        padding: 2% 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        // height: 100%;

        h1 {
            font-size: var(--fontsize-h2-desktop);
        }

        p {
            white-space: nowrap;
            font-size: var(--fontsize-h3-desktop);
        }
        
    }

    div:nth-child(3) {
        position: absolute;
        right: 5px;
        top: 5px;
        height: 100%;
        padding: 0;

        svg {
            width: 24px;
            background: rgba(255, 255, 255, 0.2);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border-radius: 50%;
            padding: .2rem;
            color: #000;
        }
    }




}