.adembox-container, .coachingbox-container, .hondenbox-container, .kennisbox-container  {
    position: relative;
    display: flex;
    flex-direction: column;

    transition: top .5s ease;
    top: 0;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    font-family: 'Inter';

    border-radius: 18px;
    overflow: hidden;

    text-decoration: none;

    // color: var(--primary);
    color:  #000;
    background: #fff;

    &:hover {
        top: -10px;
    }

    div:nth-child(1) {
        height: 100%;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    
    }
    div:nth-child(2) {
        padding: 2% 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        // height: 100%;

        h1 {
            // font-size: var(--fontsize-h2-desktop);
            font-size: 1.25vw;
        }

        p {
            white-space: nowrap;
            // font-size: var(--fontsize-h3-desktop);
            font-size: .9vw;
        }
        
    }
}

@media (max-width: 1200px) {
    .adembox-container, .coachingbox-container, .hondenbox-container, .kennisbox-container  {
        div:nth-child(2) {
    
            h1 {
                font-size: var(--fontsize-h2-desktop);
            }
    
            p {
                font-size: var(--fontsize-h3-desktop);

            }
            
        }
    }
}