.kennis-container {

    padding: 0 0 0 0;
    display: flex;
    flex-direction: column;

    h1 {
        display: flex;
        font-family: 'Annie Use Your Telescope', cursive;
        font-size: var(--fontsize-h1-desktop);
        align-items: center;
        justify-content: center;
        padding: 5% 0 0 0;
    }

    div {
        display: flex;
        height: 70vh;
        gap: 2rem;
        padding: 5% 0;

        div:nth-child(1) {
            padding: 0 0 0 10%;
            flex-direction: column;
            font-size: var(--fontsize-h2-desktop);
            justify-content: space-between;
            display: flex;
            height: 100%;
            font-family: 'Montserrat', sans-serif;
        }

        div:nth-child(2) {
            padding: 0 10% 0 0;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }
}