.overons-container {
    
    .overons-banner {
        width: 100vw;
        position: relative;
        
        img {
            width: 100vw;
            height: 696px;
            object-fit: cover;
        }

        div {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            margin: 0 10%;
            z-index: 20;
            width: 40%;

            font-family: 'Varela Round', sans-serif;
            font-size: 2vw;

            h1 {
                color: #fff;
                text-shadow: 1px 1px 2px #707070;
            }
        }
    }
}