.tarieven-container {

    .tarieven-header {
        margin-top: 1%;
        background: var(--secondary);
        font-size: var(--fontsize-h2-desktop);
        
         h1 {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Varela Round', sans-serif;
            font-weight: bold;
            
         }
    }

    .tarieven-table {
        margin-top: 1%;
        border-collapse: collapse;
        font-size: var(--fontsize-h3-desktop);
        font-family: 'Inter', sans-serif;
        min-width: 400px;
        background: var(--primary-accent);

       table {
        border-collapse: collapse;
        width: 100%;
        color: #333;
        font-family: 'Inter', sans-serif;
        font-size: var(--fontsize-h3-desktop);
        text-align: left;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        margin-bottom: 1%;
       }
       
        tr{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            

            th {
                background-color: var(--primary);
                color: #fff;
                font-weight: bold;
                padding: 10px;
                text-transform: uppercase;
                letter-spacing: 1px;
                border-bottom: 1px solid #ccc;

                &:nth-child(2) {
                    // border-bottom: 1px solid #ccc;
                    border-right: 1px solid #ccc;
                    border-left: 1px solid #ccc;
                }
            }

            td {
                background-color: #fff;
                padding: 10px;
                border-bottom: 1px solid #ccc;
                font-weight: bold;
                display: flex;

                &:nth-child(2) {
                    border-bottom: 1px solid #ccc;
                    border-right: 1px solid #ccc;
                    border-left: 1px solid #ccc;
                }
            }

            th ,td {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        tr:nth-child(even) td {
                background-color: #f2f2f2;
              }

              p {
                display: flex;
                justify-content: center;
                font-weight: bold;
              }
    }
}