@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Varela+Round&display=swap');

:root {
     /*! background colors */

    --primary: #68a0a5;
    --primary-accent: #daefef;
    --secondary: #fbf6ed;
    --btncolor: #baa1ca;
 
     /*! font sizes */
     --fontsize-h1-desktop: 48px;
 
     --fontsize-h2-desktop: 24px;
 
     --fontsize-button-desktop: 20px;

     --fontsize-h3-desktop: 14px;
 
     /*! Font Styles */
     --font-written: 'Annie Use Your Telescope', cursive;
}

@media only screen and (max-width: 1440px) {
    :root {
        --fontsize-h1-desktop: 40px;
        --fontsize-h2-desktop: 20px;
        --fontsize-button-desktop: 18px;
        --fontsize-h3-desktop: 12px;
    
    }
}

@media only screen and (max-width: 800px) {
    :root {
        --fontsize-h1-desktop: 32px;
        --fontsize-h2-desktop: 16px;
        --fontsize-button-desktop: 14px;
        --fontsize-h3-desktop: 10px;
    
    }
}

@media only screen and (max-width: 500px) {
    :root {
        --fontsize-h1-desktop: 28px;
        --fontsize-h2-desktop: 14px;
        --fontsize-button-desktop: 12px;
        --fontsize-h3-desktop: 10px;
    
    }
}

* {
    margin: 0;
    padding: 0;
    line-height: 130%;
}

body {
    margin: 1%;
}


